{
    "swagger": "2.0",
    "info": {
        "title": "Redpill API",
        "description": "This application runs an image analysis service",
        "version": "2.0"
    },
    "host": "redpill-elb.prod-be-aws.net",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/health": {
            "get": {
                "summary": "Health Check",
                "tags": [
                    "Health Check"
                ],
                "description": "This api may be used to verify that the server is running and responding to requests.\n",
                "responses": {
                    "200": {
                        "description": "Health information of this server",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Health"
                            }
                        }
                    }
                }
            }
        },
        "/models": {
            "get": {
                "summary": "Redpill Models",
                "tags": [
                    "Models"
                ],
                "description": "The api may be used to get information about the processing models available to the server.\n",
                "responses": {
                    "200": {
                        "description": "An array of models",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Model"
                            }
                        }
                    }
                }
            }
        },
        "/features/{model}/images/{uuid}": {
            "post": {
                "parameters": [
                    {
                        "in": "path",
                        "name": "model",
                        "required": true,
                        "description": "Model name selected to process image.",
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "uuid",
                        "required": true,
                        "description": "The id for the image submitted.",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "url",
                        "description": "The url of the image to be processed. http, https, and s3 schemes are supported. It's required if the image parameter is not present in the request.",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "image",
                        "description": "The image data. A wide variety of formats and color spaces are supported. It's required if the url parameter is not present in the request.",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "analyzers",
                        "description": "Selects the analyzers to be applied to the image. Analyzers will be concatenated as a comma-separated string. Please note that different models support different analyzers. Use the models api to find out what analyzers are supported by a model. A value of \"all\" selects all the analyzers supported by the model",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "search.num_buckets",
                        "format": "int32",
                        "type": "integer",
                        "description": "Specifies the number of buckets the search analyzer will return in the response. Default is 20. Minimum is 1."
                    },
                    {
                        "in": "formData",
                        "name": "tagging.num_tags",
                        "format": "int32",
                        "type": "integer",
                        "description": "Specifies the number of tags the tagging analyzer will return in the response. Default is 25. Minimum is 1."
                    },
                    {
                        "in": "formData",
                        "name": "tagging.threshold",
                        "format": "double",
                        "type": "number",
                        "description": "Specifies the minimum confidence value the tagging analyzer will return in the response. Note that a high value may result in no tags being returned in the response. Default is 0.0. Minimum is 0.0."
                    }
                ],
                "summary": "Request features for an image",
                "tags": [
                    "Features"
                ],
                "description": "This api may be used to analyze image features.\nThe {model} path parameter selects the processing model.\nUse the models api for find out what models are supported by the server.\nThe {uuid} path parameter is a string that is returned in the reponse\nas the value of key \"uuid\" but is otherwise uninterpreted by the service.\nClients may use it identify the image, for example.\n",
                "responses": {
                    "200": {
                        "description": "A block of features estimates by redpill",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/FeatureResult"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Aesthetic": {
            "type": "object",
            "properties": {
                "motion_blur": {
                    "type": "number",
                    "format": "double"
                },
                "object_emphasis": {
                    "type": "number",
                    "format": "double"
                },
                "repetition": {
                    "type": "number",
                    "format": "double"
                },
                "balancing_element": {
                    "type": "number",
                    "format": "double"
                },
                "symmetry": {
                    "type": "number",
                    "format": "double"
                },
                "quality": {
                    "type": "number",
                    "format": "double"
                },
                "vivid_color": {
                    "type": "number",
                    "format": "double"
                },
                "interesting_lighting": {
                    "type": "number",
                    "format": "double"
                },
                "color_harmony": {
                    "type": "number",
                    "format": "double"
                },
                "depth_of_field": {
                    "type": "number",
                    "format": "double"
                },
                "interesting_content": {
                    "type": "number",
                    "format": "double"
                },
                "rule_of_thirds": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "Buckets": {
            "type": "object",
            "properties": {
                "ids": {
                    "description": "The \"buckets.ids\" value is an array of bucket ids starting with the bucket id. Of this asset. The array is ordered from the nearest bucket to the furthest bucket.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "similarity": {
                    "items": {
                        "type": "string"
                    },
                    "description": "The \"buckets.similarity\" value is an array of similarities of the corresponding buckets in the \"ids\" array. Note that the similarity of the first bucket does not necessarily have a value of 1.0; typically it will be less that 1.0, as in this example.",
                    "type": "array"
                }
            }
        },
        "Analyzer": {
            "type": "string",
            "description": "Analyzer name included in this redpill model, for example \"feature\", \"search\", \"tagging\" or \"aesthetic\"."
        },
        "Tagging": {
            "type": "object",
            "properties": {
                "confidence": {
                    "items": {
                        "type": "string"
                    },
                    "description": "The \"confidence\" value is of the corresponding keyword.",
                    "type": "array"
                },
                "keywords": {
                    "items": {
                        "type": "string"
                    },
                    "description": "The keyword extracted from the image.",
                    "type": "array"
                }
            }
        },
        "FeatureResult": {
            "type": "object",
            "properties": {
                "aesthetic": {
                    "$ref": "#/definitions/Aesthetic"
                },
                "created_on": {
                    "type": "string",
                    "description": "Date time of this image processing"
                },
                "model": {
                    "type": "string",
                    "description": "Model name choosed by user for process this image"
                },
                "feature": {
                    "$ref": "#/definitions/Feature"
                },
                "search": {
                    "$ref": "#/definitions/Search"
                },
                "version": {
                    "type": "string",
                    "description": "Version of redpill API"
                },
                "tagging": {
                    "$ref": "#/definitions/Tagging"
                },
                "uuid": {
                    "type": "string",
                    "description": "Unique identifier for the image"
                }
            }
        },
        "Search": {
            "type": "object",
            "properties": {
                "buckets": {
                    "$ref": "#/definitions/Buckets"
                },
                "pq_code": {
                    "type": "string",
                    "description": "The \"pq_code\" value is base-64 encoded."
                }
            }
        },
        "Health": {
            "type": "object",
            "properties": {
                "healthy": {
                    "type": "string",
                    "description": "Boolean string to define if the redpill is works fine."
                },
                "version": {
                    "type": "string",
                    "description": "Version of this redpill."
                }
            }
        },
        "Model": {
            "type": "object",
            "properties": {
                "version": {
                    "type": "string",
                    "description": "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code."
                },
                "name": {
                    "type": "string",
                    "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles"
                },
                "analyzers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Analyzer"
                    }
                }
            }
        },
        "Feature": {
            "type": "object",
            "properties": {
                "descriptor": {
                    "type": "string",
                    "description": "The \"descriptor\" value is gzip compressed and base-64 encoded. The \"created_on\" value indicates the time this record was created in UTC."
                }
            }
        }
    }
}